/* inicio.css */
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-container {
  position: relative;
  z-index: 1;
  margin-top: 100px;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  margin-top: 110px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.slider-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slider-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  position: absolute;
  top: 250px;
  transform: translateY(-50%);
  z-index: 10;
}

.slider-button:first-of-type {
  left: 10px;
}

.slider-button:last-of-type {
  right: 10px;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #ff0000; /* Cambia este color para que coincida con el estilo de tu sitio */
}

footer {
  position: relative; /* o fixed, según necesites */
  margin-top: 150px; /* ajusta según sea necesario */
  clear: both; /* para evitar que otros elementos lo sobrepongan */
}

h1{
  color: white;
  font-size: 25px;
}
.menu-container {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 10px;
  width:250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid #050505;
}

.menu-container2 {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 10px;
  width:250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid #050505;
}

.image {
  width: 550px;
  height: 850px;
  object-fit: cover;
  border-radius: 10px;
}

.text {
  font-size: 16px;
  color: #333;
  text-align: center;
}

.button {
  top: auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff001e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}